*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: burlywood;
}
.container{
    display: flex;
   justify-content: center;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}
.grocery{
    margin-top: 10px;
    text-align: center;
    border:none;
    border-radius: 10px;
    width: 50%;
    height: 600px;
    background-color:rgba(255, 255, 255, 0.607);
}
#in{
    margin-top: 20px;
    background-color: transparent;
    width: 400px;
    height: 30px;
    padding: 5px 10px;
    font-size: 30px;
    border: none;
    color: rgba(21, 16, 16, 0.869);
    border-bottom: 3px solid rgba(0, 0, 0, 0.499);
}
#in:focus{
    outline: none;
}
/* #in:hover{
    border-bottom: 3px solid red;
} */

.item{
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}